<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid user registration</title>
</head>
<body>
    <div class="container">
        <h1>Mr. Finder</h1><br><br>
        <p>Invalid !! name or enrollment-number</p><br><br>
        <a href="{{ url_for('index') }}">Go back to the login page </a><br>
        <a href="{{ url_for('register') }}">New user register now !!</a>
    </div>
</body>
</html>